<html>
    <body class="App">
        
        <nav class="Navigation">
            <div class="nav">
                <a href="#section_home" class="nav__link">
                    <span class="nav__link--text" data-splitting>Home.</span>
                    <span class="nav__link--text" data-splitting>Home.</span>
                </a>
                <a href="#section_about" class="nav__link">
                    <span class="nav__link--text" data-splitting>About.</span>
                    <span class="nav__link--text" data-splitting>About.</span>
                </a>
                <a href="#section_work" class="nav__link">
                    <span class="nav__link--text" data-splitting>Work.</span>
                    <span class="nav__link--text" data-splitting>Work.</span>
                </a>
                <a href="#section_contact" class="nav__link">
                    <span class="nav__link--text" data-splitting>Contact.</span>
                    <span class="nav__link--text" data-splitting>Contact.</span>
                </a>
            </div>
        </nav>

        <nav class="Menu">
            <div class="Menu-content">
                <div class="Menu-section">
                    <a (click)="menuButton()" (click)="showSlide('stud')" href="#stud" class="heading8 menu-link" data-link-alt="Stud."><span>Stud.</span></a>
                    <a (click)="menuButton()" (click)="showSlide('portfolio')"href="#portfolio" class="heading8 menu-link" data-link-alt="Portfolio."><span>Portfolio.</span></a>
                    <a (click)="menuButton()" (click)="showSlide('live')"href="#live" class="heading8 menu-link" data-link-alt="Live."><span>Live.</span></a>
                    <a (click)="menuButton()" (click)="showSlide('foxtraps')"href="#foxtraps" class="heading8 menu-link" data-link-alt="Foxtraps."><span>Foxtraps.</span></a>
                    <a (click)="menuButton()" (click)="showSlide('wayup')"href="#wayup" class="heading8 menu-link" data-link-alt="WayUp."><span>WayUp.</span></a>
                    <a (click)="menuButton()" (click)="showSlide('concept')" href="#concept" class="heading8 menu-link" data-link-alt="Concept Design."><span>Concept Design.</span></a>
                    <a (click)="menuButton()" (click)="showSlide('flashcards')"href="#flashcards" class="heading8 menu-link" data-link-alt="Flashcards."><span>Flashcards.</span></a>
                    <a (click)="menuButton()" (click)="showSlide('supermarket')"href="#supermarket" class="heading8 menu-link" data-link-alt="Supermarket."><span>Supermarket.</span></a>
                    <a (click)="menuButton()" (click)="showSlide('logos')"href="#logos" class="heading8 menu-link" data-link-alt="Logos."><span>Logos.</span></a>
                    
                </div>

                <div class="Menu-section-2" style="margin-top: 20%;">
                    <span class="heading8">Info.</span>
                    <div class="text-medium" style="color: var(--black)">Contact.
                        <div class="text-light" style="color: var(--black)">+4917621724232</div>
                        <div class="text-light" style="color: var(--black)">julienne.buechele@gmail.com</div>
                    </div>
                    <div class="text-medium" style="color: var(--black)">Pay me a visit.
                        <div class="text-light" style="color: var(--black)">Bröhnstr. 3a</div>
                        <div class="text-light" style="color: var(--black)">30952 Ronnenberg</div>
                    </div>
                    <div class="text-medium" style="color: var(--black)">Follow me.
                        <div class="text-light" style="color: var(--black)">Pinterest</div>
                        <div class="text-light" style="color: var(--black)">Instagram</div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="Menu">
            <div class="menuButton" (click)="menuButton()">
                <img src="assets/Icons/icons8-menu-36-white.png" *ngIf=!menuOpen/>
                <img src="assets/Icons/icons8-menu-36-black.png" *ngIf=menuOpen/>
            </div>
        </nav>

    
        <div class="content-container">

            <div class="FullSection" id="section_home">
                <div class="HiddenImage"></div>
                <div class="DarkBackground"></div>

                <div class="ContentForeground">
                    <div class="Title_Section transition-center">
                        <h1>Hello.</h1>
                        <h1>I'm Julie.</h1>
                    </div>
                    <div class="Icon_Section">
                        <!--TODO: Add Button Function-->
                        <img src="assets/Icons/icons8-pfeil50.png"/>
                    </div>
                </div>
            </div>
        
            <div class="FullSection" id="section_about">
                <div class="MiddleSection">
                    <h1>&#123; &#125;</h1>
                    <h2 style="padding-top: 120%; margin-left: 70%;">Development.</h2>
                    <div class="redCircle" style="margin-left: 340%; margin-top: 84%;"></div>
                    <div class="textTable">
                        <h5>Mobile Apps.</h5>
                        <h5>Websites.</h5>
                        <h5>Games.</h5>
                    </div>
                </div>
                <div class="MiddleSection">
                    <img src="assets/images/circle_triangle.png" style="margin-top: 50%;">
                    <h2 style="padding-top: 20%; margin-left: 120%;">Design.</h2>
                    <div class="redCircle" style="margin-left: 240%; margin-top: 130%;"></div>
                    <div class="textTable" style="margin-top: 60%;">
                        <h5>UI/UX.</h5>
                        <h5>Illustrations.</h5>
                        <h5>3D Modelling.</h5>
                    </div>
                </div>
            </div>

            <!--WORK-->
            <div class="FullSection" id="section_work">

                <div class="slideshow" (click)="closeSlide('foxtraps')" *ngIf="!showFoxtraps == false" id="foxtraps">
                    <div class="slideshow-content" [@panelInOut]>
                        <video src="assets/images/projects/foxtraps/foxtraps-demo.mov" controls autoplay width="740" height="500"> </video>
                    </div>
                </div>

                <div class="slideshow" (click)="closeSlide('flashcards')" *ngIf="!showFlashcards == false" id="flashcards">
                    <div class="slideshow-content" [@panelInOut]>
                        <video src="assets/images/projects/flashcards/flashcards-demo.mov" controls autoplay width="740" height="500"> </video>
                    </div>
                </div>

                <div class="slideshow" (click)="closeSlide('live')" *ngIf="!showLive == false" id="live">
                    <div class="slideshow-content" [@panelInOut]>
                        <video src="assets/images/projects/live/live-demo.mp4" controls autoplay width="740" height="500"> </video>
                    </div>
                </div>

                <div class="slideshow" (click)="closeSlide('logos')" *ngIf="!showLogos == false" id="logos">
                    <div class="slideshow-content" [@panelInOut]>
                        <img class="slide-image" src="assets/images/projects/logos/project-logo-gnl.png" style="margin-top: -8%; margin-left: -7%; width: 15%;"/>
                        <img class="slide-image" src="assets/images/projects/logos/project-logo-koellbi.png" style=" margin-top: -4%; margin-left: 25%; width: 15%;"/>
                        <img class="slide-image" src="assets/images/projects/logos/project-logo-kuk.png" style="margin-top: 20%; margin-left: -3%; width: 15%;"/>
                        <img class="slide-image" src="assets/images/projects/logos/boombox.png" style="margin-top: 7%; margin-left: 0%; width: 15%;"/>
                        <img class="slide-image" src="assets/images/projects/logos/poster.png" style="margin-top: 9%; margin-left: 30%; width: 15%;"/>
                    </div>
                </div>

                <div class="slideshow" (click)="closeSlide('stud')" *ngIf="!showStud == false" id="stud">
                    <div class="slideshow-content" [@panelInOut]>
                        <video src="assets/images/projects/socialnetwork/stud-demo.mov" controls autoplay width="740" height="500"> </video>
                    </div>
                </div>

                <div class="slideshow" (click)="closeSlide('supermarket')" *ngIf="!showSupermarket == false" id="supermarket">
                    <div class="slideshow-content" [@panelInOut]>
                        <video src="assets/images/projects/supermarket/supermarket-demo.mov" controls autoplay width="740" height="500"> </video>
                    </div>
                </div>

                <div class="slideshow" (click)="closeSlide('wayup')" *ngIf="!showWayup == false" id="wayup">
                    <div class="slideshow-content" [@panelInOut]>
                        <video src="assets/images/projects/wayup/wayup-demo.mov" controls autoplay width="740" height="500"> </video>
                    </div>
                </div>

                <div class="slideshow" (click)="closeSlide('portfolio')" *ngIf="!showPortfolio == false" id="portfolio">
                    <div class="slideshow-content" [@panelInOut]>
                        <video src="assets/images/projects/portfolio/portfolio-demo.mov" controls autoplay width="740" height="500"> </video>
                    </div>
                </div>

                <div class="slideshow" (click)="closeSlide('concept')" *ngIf="!showConcept == false" id="concept">
                    <div class="slideshow-content" [@panelInOut]>
                        <img class="slide-image" src="assets/images/projects/conceptdesign/abgabe1.png" style="margin-top: -8%; margin-left: -7%;"/>
                        <img class="slide-image" src="assets/images/projects/conceptdesign/abgabe2.png" style=" margin-top: 0%; margin-left: 25%;"/>
                        <img class="slide-image" src="assets/images/projects/conceptdesign/abgabe3.png" style="margin-top: 10%; margin-left: -2%;"/>
                    </div>
                </div>

                <div class="circle_wrapper">
                    <div class="circle">
                        <div class="item" (click)="showSlide('foxtraps')">
                            <div class="item-content">
                                <div class="image-container">
                                    <img src="assets/images/card-images/card-image-foxtrap.png">
                                </div>
                                <div class="text-container">
                                    <span class="heading7">Foxtraps.</span>
                                    <h6>A funny game with a little Fox, trying to reach the goal.</h6>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-content" (click)="showSlide('flashcards')">
                                <div class="image-container">
                                    <img src="assets/images/card-images/card-image-flash.png">
                                </div>
                                <div class="text-container">
                                    <span class="heading7">Flashcards.</span>
                                    <h6>A cool App for Flashcards, where learning is fun.</h6>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-content" (click)="showSlide('live')">
                                <div class="image-container">
                                    <img src="assets/images/card-images/card-image-live.png">
                                </div>
                                <div class="text-container">
                                    <span class="heading7">Live.</span>
                                    <h6>A virtual reality learning application for merchant trainees.</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-content" (click)="showSlide('logos')">
                                <div class="image-container">
                                    <img src="assets/images/card-images/card-image-logos.png">
                                </div>
                                <div class="text-container">
                                    <span class="heading7">Logos.</span>
                                    <h6>Numerous logos for different purposes.</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-content" (click)="showSlide('stud')">
                                <div class="image-container">
                                    <img src="assets/images/card-images/card-image-sn.png">
                                </div>
                                <div class="text-container">
                                    <span class="heading7">Stud.</span>
                                    <h6>A social network for HsH students to connect.</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-content" (click)="showSlide('supermarket')">
                                <div class="image-container">
                                    <img src="assets/images/card-images/card-image-supermarket.png">
                                </div>
                                <div class="text-container">
                                    <span class="heading7">Supermarket.</span>
                                    <h6>A funny, covid themed game about shopping.</h6>
                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="item-content" (click)="showSlide('wayup')">
                                <div class="image-container">
                                    <img src="assets/images/card-images/card-image-wayup.png">
                                </div>
                                <div class="text-container">
                                    <span class="heading7">WayUp.</span>
                                    <h6>A game about wishes, to make your wish come true.</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-content" (click)="showSlide('portfolio')">
                                <div class="image-container">
                                    <img src="assets/images/background-square.png">
                                </div>
                                <div class="text-container">
                                    <span class="heading7">Portfolio.</span>
                                    <h6>A website about me, my projects and much more.</h6>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item-content" (click)="showSlide('concept')">
                                <div class="image-container">
                                    <img src="assets/images/card-images/card-image-concept.png">
                                </div>
                                <div class="text-container">
                                    <span class="heading7">Concept Design.</span>
                                    <h6>Some Concept Designs about the Theme "Ice-World".</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttonSection">
                    <span (click)="slideRight()"><img src="assets/Icons/icons8-pfeil-white50.png" style="transform: rotateY(180deg);"></span>
                    <span (click)="slideLeft()"><img src="assets/Icons/icons8-pfeil-white50.png"></span>

                </div>


                

                <div class="overlay"></div>

            </div>

            <!--CONTACT-->
            <div class="FullSection" id="section_contact">
                <div class="ContactSection">
                    <h1>Contact.</h1>
                    <input class="input" type="text" placeholder="Your Name">
                    <div class="column">
                        <input class="input" type="email" placeholder="Mail">
                        <input class="input" type="number" placeholder="Phone">
                    </div>
                    <textarea class="input textarea" type="text" maxlength="250" placeholder="How can I help you?"></textarea>
                    <div class="column sendButton" style="margin-top: 48px;">
                        <a href="#section_contact" class="link heading3" style="margin-left: -96px;" data-link-alt="Send Message."><span>Send Message.</span></a>

                        <img src="assets/Icons/icons8-pfeil-white50.png" style="margin-left: -64px; margin-top: -4px;"/>
                    </div>
                </div>
            </div>
    
        </div>  

    </body>
</html>
