:root{
    --black: #000;
    --white: #fff;
    --red: #DC0909;
    --background-color: #000;
    --grey: rgb(36, 36, 36);

    --white-transparent: rgba(255, 255, 255, 0.9);
    --black-transparent: rgba(0, 0, 0, 0.7);
}