:root {
    --space-xxs: 8px;
    --space-xs: 16px;
    --space-s: 24px;
    --space-m: 32px;
    --space-l: 48px;
    --space-xl: 64px;
    --space-xxl: 128px;
    --radius-s: 15px;
    --radius-m: 25px;
    --radius-l: 35px;
    --radius-xl: 45px;

    --flashlightY: 0px;
    --flashlightX: 0px;

    --rotation: 0deg;
    --menuWidth: 0px;
    --menuButtonRotation: 0deg;

    --cardRotation: 0deg;
}